{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
    <script src="{% static "scripts/jquery.js" %}"></script>
    <script src="{% static "scripts/jSignature.js" %}"></script>
    
    <section class="site-section details-client-bill">
        <div class="container">
            <div class="wrapper">
                <div class="client-card">
                    <div class="card-column">
                        <p class="column-name">{% trans "Family name" %}</p>
                        <p class="column-data">{{ object.client.family_name }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Year" %}</p>
                        <p class="column-data">{{ object.year }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Month" %}</p>
                        <p class="column-data">{{ object.get_month_name }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Comment" %}</p>
                        <p class="column-data">{{ object.comment }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Total BGN" %}</p>
                        <p class="column-data">{{ object.total_amount }}</p>
                    </div>
                </div>
                <form class="is-paid-form" method="post" action="{% url "edit_client_other_bill" pk=object.pk %}">
                    {{ form }}
                    {% csrf_token %}
                    {% if form.instance.is_paid %}
                        <script src="{% static "scripts/signatureShow.js" %}"></script>
                        <button type="submit" class="btn" hidden="hidden">{% trans "Save" %}</button>
                        {% include "partials/signature-show.html" %}
                        {% include "partials/back_button.html" %}
                    {% else %}
                        <script src={% static "scripts/signaturePad.js" %}></script>
                        {% include "partials/signature-pad.html" %}
                        {% include "partials/form_buttons_edit_bills.html" %}
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}
