{% extends "base.html" %}

{% block main_content %}

<section class="site-section list-client-bills">
        <div class="container">
            <div class="wrapper">
                <div class="clients-cards">
                    {% if client_bills %}
                        {% for bill in client_bills %}
                            <div class="{% if bill.is_paid %} client-card {% else %} client-card-not-paid {% endif %}" 
                                 onclick="redirectToClientBillDetails({{ bill.pk }},'{% url "edit_client_bill" pk=0 %}')">
                                <div class="card-column">
                                    <p class="column-name">Year</p>
                                    <p class="column-data">{{ bill.year }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">Month</p>
                                    <p class="column-data">{{ bill.get_month_name }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">Total BGN</p>
                                    <p class="column-data">{{ bill.total_amount }}</p>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <h1>No bills</h1>
                    {% endif %}
                </div>
                <div class="back-button">
                    <a href="{% url "details_client" pk=object.pk %}"><i class="fa-solid fa-arrow-right"></i>Back to client</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}