{% extends "base.html" %}
{% load i18n %}

{% block main_content %}

    <section class="site-section list-client-bills">
        <div class="container">
            <div class="wrapper">
            {% include "partials/filter_buttons.html" %}
                <div class="clients-cards">
                    {% if client_bills %}
                        {% for object in client_bills %}
                            <div class="{% if object.is_paid %} client-card {% else %} client-card-not-paid {% endif %}"
                                 onclick="redirectToClientBillDetails({{ object.pk }},'{% url "edit_client_other_bill" pk=0 %}')">
                                {% include "partials/details_other_client_bills.html" %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3>{% trans "No bills" %}</h3>
                    {% endif %}
                </div>
                <div class="back-button">
                    <a href="{% url "details_client" pk=object.pk %}"><i
                            class="fa-solid fa-arrow-right"></i>{% trans "Back" %}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}