{% extends "base.html" %}
{% load i18n %}

{% block main_content %}

    <section class="site-section list-client-bills">
        <div class="container">
            <div class="wrapper">
                <div class="title-back-btn">
                    <div class="details">
                        <p>{% trans 'Client bills' %}:</p>
                        <p class="family-name">{{ object.family_name }}</p>
                    </div>
                    <div class="back-button">
                        <a href="{% url "details_client" pk=object.pk %}"><i
                                class="fa-solid fa-arrow-right"></i>{% trans "Back" %}</a>
                    </div>
                </div>

                {% include "partials/filter_buttons.html" %}
                <div class="clients-cards">
                    {% if client_bills %}
                        {% for object in client_bills %}
                            <div class="{% if object.is_paid %} client-card {% else %} client-card-not-paid {% endif %} js-redirect"
                                 data-id="{{ object.pk }}"
                                 data-url="{% url 'edit_client_bill' pk=0 %}">
                                {% include "partials/details_client_bills.html" %}
                            </div>

                        {% endfor %}
                    {% else %}
                        <h3>{% trans "No bills" %}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}