{% load i18n %}

<form method="get">
    <div class="filter-buttons">
        <label for="month" class="month-label">
            <select name="month" id="month" onchange="this.form.submit();">
                <option value="" disabled {% if not request.GET.month %}selected{% endif %}>{% trans "Month" %}</option>
                <option value="" {% if request.GET.month == "" %}selected{% endif %}>{% trans "All" %}</option>
                {% for choice in MonthChoices.choices %}
                    <option value="{{ choice.0 }}"
                            {% if request.GET.month == choice.0 %}selected{% endif %}>{{ choice.1 }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <a href="?is_paid=True&month={{ request.GET.month }}"
                {% if request.GET.month == "" or not request.GET.dict %} class="disabled"
           onclick="return false;"{% endif %}> {% trans "Paid bills" %}</a>
        <a href="?is_paid=False&month={{ request.GET.month }}"
                {% if request.GET.month == "" or not request.GET.dict %} class="disabled"
           onclick="return false;"{% endif %}> {% trans "Unpaid bills" %}</a>
    </div>
</form>
