{% load cloudinary %}
{% load i18n %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const profileLink = document.querySelector(".profile-link");

        profileLink.addEventListener("click", (event) => {
            event.preventDefault();
        });
    });
</script>
<li class="profile-menu">
    <a href="#" class="profile-link">
        <div class="profile">
            <i class="fa-solid fa-circle-user"></i>
            <p class="profile-text">{% trans "Profile" %}</p>
        </div>
    </a>
    <ul class="menu-links">
        {% if request.user.is_staff %}
            <li><a href="{% url "create_house" %}">{% trans "Create House" %}</a></li>
            <li><a href="{% url "admin:index" %}">{% trans "Administration" %}</a></li>
            <li><a href="{% url "details_profile" pk=request.user.pk %}">{% trans "Settings" %}</a></li>
        {% endif %}
        <li><a href="{% url "logout_user" %}">{% trans "Logout" %}</a></li>
    </ul>
</li>
