{% extends "base.html" %}
{% load static %}
{% block main_content %}

    <section class="site-section details-profile">
        <div class="container">
            <div class="profile-card">
                {% if object.profile_picture %}
                    <img src="{{ object.profile_picture.url }}" alt="profile-picture">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                {% endif %}
                <p>{{ object.user.email }}</p>
                <p>{{ object.full_name }}</p>
                {% if object.phone_number %}
                    <p>{{ object.phone_number }}</p>
                {% endif %}
                <div class="details-profile-btns">
                    <ul>
                        <li><a href="{% url "edit_profile" pk=object.pk %}">Edit</a></li>
                        <li><a href="{% url "delete_profile" pk=object.pk %}">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </section>

{% endblock %}