{% extends "base.html" %}
{% load cloudinary %}
{% load i18n %}
{% load static %}
{% block main_content %}

    <section class="site-section details-profile">
        <div class="container">
            <div class="profile-card">
                {% if object.profile_picture %}
                    {% cloudinary object.profile_picture %}
                {% else %}
                    <i class="fa-solid fa-circle-user"></i>
                {% endif %}
                <div class="profile-details">
                    <p>{% trans "Email" %}: <strong>{{ object.user.email }}</strong></p>
                    {% if object.full_name %}
                        <p>{% trans "Name" %}: <strong>{{ object.full_name }}</strong></p>
                    {% endif %}
                    {% if object.phone_number %}
                        <p>{% trans "Phone number" %}: <strong>{{ object.phone_number }}</strong></p>
                    {% endif %}
                </div>
                <div class="details-profile-btns">
                    <ul>
                        <li><a href="{% url "edit_profile" pk=object.pk %}">{% trans "Edit" %}</a></li>
                        <li><a href="{% url "delete_profile" pk=object.pk %}">{% trans "Delete" %}</a></li>
                        {% if user.has_set_password %}
                            <li><a href="{% url "change_password" pk=object.pk %}">{% trans "Change password" %}</a>
                            </li>
                        {% else %}
                            <li><a href="{% url "set_password" pk=object.pk %}">{% trans "Set password" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}