{% extends "base.html" %}
{% load cloudinary %}
{% load i18n %}
{% load static %}
{% block main_content %}

    <section class="site-section details-profile">
        <div class="container">
            <div class="profile-card">
                <h5>{% trans "Profile details" %}</h5>
                {% if object.profile_picture %}
                    {% cloudinary object.profile_picture %}
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                {% endif %}
                <div class="profile-details">
                    <p>{% trans "Email" %}: <strong>{{ object.user.email }}</strong></p>
                    {% if object.full_name %}
                        <p>{% trans "Name" %}: <strong>{{ object.full_name }}</strong></p>
                    {% endif %}
                    {% if  object.phone_number %}
                        <p>{% trans "Phone number" %}: <strong>{{ object.phone_number }}</strong></p>
                    {% endif %}
                </div>
                <div class="details-profile-btns">
                    <ul>
                        <li><a href="{% url "edit_profile" pk=object.pk %}">{% trans "Edit" %}</a></li>
                        <li><a href="{% url "delete_profile" pk=object.pk %}">{% trans "Delete" %}</a></li>
                        <li><a href="{% url "change_password" pk=object.pk %}">{% trans "Change password" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}