{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block main_content %}

    <section class="site-section change-password">
        <div class="container">
            <form class="create-form" action="{% url "change_password" pk=user.pk %}" method="post">
                <h3 class="create-form-heading">{% trans "Password change" %}</h3>
                {{ form }}
                {% csrf_token %}
                <input class="btn" type="submit" value="{% trans "Save" %}">
            </form>
        </div>
    </section>

{% endblock %}