{% extends "base.html" %}
{% load i18n %}

{% block main_content %}

    <section class="site-section create-house-bills">
        <div class="container">
            <div class="wrapper">
                <div class="clients-cards">
                    {% if clients %}
                        <form class="create-form" action="{% url "create_other_bill" %}" method="post">
                            <h3 class="create-form-heading">{% trans "Create Bill" %}</h3>
{#                            {{ form }}#}
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="error-message">{{ form.non_field_errors }}</div>
                            {% endif %}
                            <label for="id_month">{% trans "Month" %}</label>{{ form.month }}
                            <label for="id_year">{% trans "Year" %}</label>{{ form.year }}
                            <label for="id_comment">{% trans "Comment" %}</label>{{ form.comment }}
                            <label for="id_total_amount">{% trans "Total BGN" %}</label>{{ form.total_amount }}
                            <input class="btn" type="submit" value="{% trans "Save" %}">
                        </form>
                    {% else %}
                        <h3>{% trans "Add clients first" %}</h3>
                    {% endif %}
                </div>
                <div class="back-button">
                    <a href="{% url "details_house" pk=house_id %}"><i class="fa-solid fa-arrow-right"></i>{% trans "Back to house" %}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}