{% extends "base.html" %}

{% block main_content %}

    <section class="site-section create-house-bills">
        <div class="container">
            <div class="wrapper">
                <div class="clients-cards">
                    {% if clients %}
                        <form class="create-form" action="{% url "create_house_bills" %}" method="post">
                            <h3 class="create-form-heading">Create Bill</h3>
                            {{ form }}
                            {% csrf_token %}
                            <input class="btn" type="submit" value="Create Bill">
                        </form>
                    {% else %}
                        <h1>Add clients first</h1>
                    {% endif %}
                </div>
                <div class="back-button">
                    <a href="{% url "details_house" pk=house_id %}"><i class="fa-solid fa-arrow-right"></i>Back to house</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}