{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
    <section class="site-section details-house-bill">
        <div class="container">
            <div class="wrapper">
                <div class="title-back-btn">
                    <h3>{% trans 'Bill details' %}</h3>
                    {% include "partials/back_button.html" %}
                </div>
                <div class="client-card">
                    <div class="card-column">
                        <p class="column-name">{% trans "Year" %}</p>
                        <p class="column-data">{{ object.year }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Month" %}</p>
                        <p class="column-data">{{ object.get_month_name }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Electricity common" %}</p>
                        <p class="column-data">{{ object.electricity_common }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Electricity lift" %}</p>
                        <p class="column-data">{{ object.electricity_lift }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Internet" %}</p>
                        <p class="column-data">{{ object.internet }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Lift maintenance" %}</p>
                        <p class="column-data">{{ object.maintenance_lift }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Cleaner fee" %}</p>
                        <p class="column-data">{{ object.fee_cleaner }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Manager fee" %}</p>
                        <p class="column-data">{{ object.fee_manager }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Cashier fee" %}</p>
                        <p class="column-data">{{ object.fee_cashier }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Repairs fund" %}</p>
                        <p class="column-data">{{ object.repairs }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Other expenses" %}</p>
                        <p class="column-data">{{ object.others }}</p>
                    </div>
                    <div class="card-column">
                        <p class="column-name">{% trans "Total BGN" %}</p>
                        <p class="column-data">{{ object.total_amount }}</p>
                    </div>
                    <div class="card-column">
                        <p style="color: #d51616" class="column-name">{% trans "The payment is without 'Repairs fund'" %}</p>
                    </div>
                </div>
                <form class="is-paid-form" method="post" action="{% url "edit_house_bills" pk=object.pk %}">
                    {% csrf_token %}
                    <div>
                        <label for="id_is_paid">{% trans "Pay the bill:" %}</label>
                        {{ form.is_paid }}
                    </div>
                    {% if form.instance.is_paid %}
                        <button type="submit" class="btn" hidden="hidden">{% trans "Save" %}</button>
                        <script>
                            document.querySelector('label[for="id_is_paid"]').textContent = "{% trans 'Paid' %}";
                        </script>
                    {% else %}
                        {% include "partials/form_buttons_edit_bills.html" %}
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}