{% extends "base.html" %}
{% load i18n %}

{% block main_content %}

    <section class="site-section list-house-bills">
        <div class="container">
            <div class="wrapper">
                <div class="title-back-btn">
                    <h3>{% trans 'Monthly bills' %}</h3>
                    <div class="back-button">
                        <a href="{% url "details_house" pk=object.pk %}"><i
                            class="fa-solid fa-arrow-right"></i>{% trans "Back" %}</a>
                    </div>
                </div>
                {% include "partials/filter_buttons.html" %}
                <div class="clients-cards">
                    {% if house_bills %}
                        {% for bill in house_bills %}
                            <div class="{% if bill.is_paid %} client-card {% else %} client-card-not-paid {% endif %}"
                                 onclick="redirectToHouseBillDetails({{ bill.pk }}, '{% url "edit_house_bills" pk=0 %}')">
                                <div class="card-column">
                                    <p class="column-name">{% trans "Year" %}</p>
                                    <p class="column-data">{{ bill.year }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">{% trans "Month" %}</p>
                                    <p class="column-data">{{ bill.get_month_name }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">{% trans "Total BGN" %}</p>
                                    <p class="column-data">{{ bill.total_amount }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3>{% trans "No bills" %}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}