.language-form .language-form-btn {
    display: flex;
    gap: 0.5em;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 0.5em;
}

.details-house-elements .buttons {
    display: flex;
    flex: 0 1 50%;
}

.details-house-elements .buttons ul {
    display: flex;
    flex-direction: column;
    list-style: none outside;
    justify-content: space-between;
}

.details-house-elements .buttons ul li a {
    display: block;
    background-color: #E4D0D0;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.details-house-elements .buttons ul li a:hover {
    cursor: pointer;
    background-color: #D5B4B4;
    transition: 0.3s ease-in-out;
}

.details-house-elements .buttons ul li:nth-of-type(1) a,
.details-house-elements .buttons ul li:nth-of-type(2) a {
    background-color: var(--card-bgnd-paid);
}

.details-house-elements .buttons ul li:nth-of-type(1) a:hover,
.details-house-elements .buttons ul li:nth-of-type(2) a:hover {
    background-color: var(--card-bgnd-paid-hover);
}

.details-house-elements .buttons ul li:nth-of-type(6) a,
.details-house-elements .buttons ul li:nth-of-type(7) a,
.details-house-elements .buttons ul li:nth-of-type(8) a {
    background-color: #AAD7D9;
}

.details-house-elements .buttons ul li:nth-of-type(6) a:hover,
.details-house-elements .buttons ul li:nth-of-type(7) a:hover,
.details-house-elements .buttons ul li:nth-of-type(8) a:hover {
    background-color: #92C7CF;
}

.details-house-elements .house-card .client-card-btns,
.details-client .client-card-btns {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    align-items: center;
    align-self: flex-end;
}

.filter-buttons,
.details-client .bills-client-card-btns {
    display: flex;
    padding-top: 0.5em;
    gap: 1em;
    align-items: center;
}

.filter-buttons a,
.details-house-elements .house-card .client-card-btns a,
.wrapper .back-button a,
.wrapper .bills-button a,
.details-client .client-card a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
    min-width: 100px;
    text-align: center;
    border-radius: 1.5em;
    border-color: transparent;
    background-color: var(--form-btn-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: block;
}

.wrapper .back-button a {
    background-color: #FF8080;
    min-width: auto;
}

.filter-buttons a {
    flex: 0 1 180px;
    padding: 0.5em 0;
}

.wrapper .bills-button a {
    min-width: 100px;
}

.filter-buttons a:hover,
.details-house-elements .house-card .client-card-btns a:hover,
.wrapper .back-button a:hover,
.wrapper .bills-button a:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}

.wrapper .back-button a:hover {
    background-color: #D37676;
}

.wrapper .back-button i {
    padding-right: 0.5em;
}

.delete-card .btn {
    background-color: green;
    padding: 0.3em 3em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    color: #fff;
}

.delete-card .no-btn {
    background-color: red;
    padding: 0.3em 3em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.back-btn {
    color: #fff;
    padding: 0.5em;
    text-align: center;
    border-radius: 1.5em;
    border-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #FF8080;
    border: none;
}

.back-btn i {
    padding-right: 0.5em;
}

.back-btn:hover {
    background-color: #D37676;
}

.btn-reset-signature {
    background-color: transparent;
    border-style: none;
    font-size: 2em;
}

.month-label {
    display: inline-block;
    background-color: var(--form-btn-color);
    border-radius: 1.5em;
    width: auto;
}

#month,
#year,
#type_of_bill {
    border-radius: 1.5em;
    background-color: var(--form-btn-color);
    cursor: pointer;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0.5em;
}

.filter-buttons .disabled {
    background-color: #ccc;
    pointer-events: none; /* Disable clicking on the link */
    text-decoration: none; /* Remove underline */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.is-paid-form .btn {
    padding: 0.5em;
    border-radius: 1.5em;
    border-color: transparent;
    background-color: var(--form-btn-color);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    align-self: center;
    width: 100px;
}

.is-paid-form .btn:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}

.is-paid-form .btn.disabled {
    background-color: #ccc;
    pointer-events: none;
    text-decoration: none;
    cursor: not-allowed;
}

/*Back to top button*/
.scrollToTopBtn {
    background-color: var(--form-btn-color-hover);
    border: none;
    border-radius: 50%;
    color: var(--form-bgnd);
    cursor: pointer;
    font-size: 30px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    bottom: calc(10% + -40px);
    right: calc(10% + -20px);
    z-index: 1;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
}

.showBtn {
    opacity: 50%;
    transform: translateY(0)
}

.scrollToTopBtn:hover {
    opacity: 1;
}

/*Google Button*/
.google-button {
    text-decoration: none;
}

.google-button-icon img {
    height: auto;
    width: 25px;
}

.google-button-content-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    background-color: #F2F2F2;
    color: var(--card-text-color);
    padding: 0.3em;
    border: 1px solid var(--form-input-border);
    transition: 0.3s ease-in-out;
}

.google-button-content-wrapper:hover {
    background-color: #E6E6E6;
}

/* Password container styling */
.password-container {
  position: relative;
  width: 100%;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  padding-right: 40px;
}

.login-form .create-form {
    position: relative;
}

.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.password-container label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.toggle-btn {
    position: absolute;
    right: 10px;
    top: 71%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
