.dashboard .house-cards {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 1 80%;
}

.dashboard .house-card {
    justify-content: space-between;
    flex: 0 1 30%;
    background-image: url("../images/house-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-blend-mode: soft-light;
    transition: 0.3s ease-in-out;
}

.dashboard .house-card:hover {
    cursor: pointer;
    background-color: var(--card-bgnd-hover);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.list-clients .clients-cards,
.list-house-bills .clients-cards,
.list-client-bills .clients-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    flex: 0 1 80%;
    text-align: center;
}

.list-clients .clients-cards .create-client {
    text-decoration: none;
    color: inherit;
    background-color: var(--card-bgnd);
    padding: 0.3em 1em;
    border-radius: 0.5em;
    align-self: flex-start;
}

.list-clients .client-card,
.list-house-bills .client-card,
.list-client-bills .client-card,
.list-client-bills .client-card-not-paid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--card-bgnd);
    border-radius: 0.5em;
    padding: 0.5em;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.list-client-bills .client-card-not-paid {
    background-color: var(--card-bgnd-not-paid);
}

.list-clients .client-card:hover,
.list-house-bills .client-card:hover,
.list-client-bills .client-card:hover,
.list-client-bills .client-card-not-paid:hover {
    cursor: pointer;
    background-color: var(--card-bgnd-hover);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.list-client-bills .client-card-not-paid:hover {
    background-color: var(--card-bgnd-not-paid-hover);
}

.list-clients .card-column,
.list-house-bills .card-column,
.list-client-bills .card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-clients .card-column .column-name,
.list-house-bills .card-column .column-name,
.list-client-bills .card-column .column-name {
    font-weight: bold;
}

.details-client .client-card,
.details-house-bill .client-card,
.details-client-bill .client-card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bgnd);
    border-radius: 0.5em;
    padding: 1em;
    flex: 0 1 50%;
    gap: 1em;
}

.details-client .client-card .card-column,
.details-house-bill .client-card .card-column,
.details-client-bill .client-card .card-column {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.details-client .client-card .card-column p:last-of-type,
.details-house-bill .client-card .card-column p:last-of-type,
.details-client-bill .client-card .card-column p:last-of-type {
    font-weight: bold;
}

.details-client .client-card .client-card-btns {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
}

.details-client .client-card a {
    text-decoration: none;
    color: #fff;
    padding: 0.3em;
    flex: 0 1 100px;
    text-align: center;
    border-radius: 1.5em;
    border-color: transparent;
    background-color: var(--form-btn-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.details-client .client-card a:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}

.delete-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.delete-card .btn {
    background-color: red;
    padding: 0.3em 3em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.profile-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card svg {
    fill: var(--card-text-color);
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
    width: 100px;
    height: auto;
}

.profile-card .details-profile-btns {
    display: flex;
    width: 100%;
}

.profile-card .details-profile-btns ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1em;
    flex: 0 1 100%;
    justify-content: center;
}

.profile-card .details-profile-btns ul li {
    display: flex;
    flex-basis: 100%;
}

.profile-card .details-profile-btns ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: var(--form-btn-color);
    border-radius: 0.5em;
    text-align: center;
    width: 100%;
}
