.errorlist {
    list-style: none outside;
    color:red;
}

.errorlist li {
    font-style: italic;
    font-size: 0.8em;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 50%;
    background-color: var(--form-bgnd);
    border-radius: 1em;
    padding: 1em 2em;
    gap: 1em;
}

.create-form input,
.create-form select,
.create-form textarea,
.is-paid-form input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid var(--form-input-border);
}

.create-form textarea {
    height: 4em;
}

.create-form label {
    font-size: 1.2em;
    text-align: left;
}

.create-form .btn,
.is-paid-form .btn {
    padding: 0.5em;
    border-radius: 1.5em;
    border-color: transparent;
    background-color: var(--form-btn-color);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    align-self: center;
    width: 100px;
}

.create-form .btn:hover,
.is-paid-form .btn:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}

.register-form .btn {
    width: auto;
}

.is-paid-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.is-paid-form div:nth-of-type(1) {
    display: flex;
    background-color: var(--card-bgnd);
    padding: 1em;
    border-radius: 0.5em;
}

.create-client .create-form div:nth-of-type(5),
.create-client .create-form div:nth-of-type(6),
.create-client .create-form div:nth-of-type(7) {
    display: flex;
}

.edit-client .create-form div:nth-of-type(5),
.edit-client .create-form div:nth-of-type(6),
.edit-client .create-form div:nth-of-type(7) {
    display: flex;
}

.is-paid-form .back-button {
    background-color: transparent;
    padding: 0;
}

.edit-profile .create-form div:nth-of-type(4) input[type=checkbox] {
    display: none;
}

.edit-profile .create-form div:nth-of-type(4) label[for=profile_picture-clear_id] {
    padding-top: 0.5em;
    cursor: pointer;
}

.edit-profile .create-form div:nth-of-type(4) label[for=profile_picture-clear_id]:hover {
    color: red;
}

#signature .signature-btn-label {
    display: flex;
    align-items: center;
    padding: 0;
}

#signature {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: #CCC;
}

#signature .btn-reset-signature {
    align-self: flex-end;
    padding-right: 0.5em;
}

#signature .btn-reset-signature:hover {
    cursor: pointer;
    color: #fff;
}

#displaySignature {
    padding: 1em;
    color: #FF8080;
    font-weight: bold;
}

.is-paid-form .signature-label {
    padding-left: 1em;
}


