.errorlist {
    list-style: none outside;
    color:red;
}

.errorlist li {
    font-style: italic;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    background-color: var(--form-bgnd);
    border-radius: 1em;
    padding: 2em;
    /*align-items: center;*/
}

.create-form input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid var(--form-input-border);
}

.create-form label {
    font-size: 1.2em;
    padding-top: 1em;
}

.create-form .btn {
    margin-top: 4em;
    border-radius: 1.5em;
    border-color: transparent;
    background-color: var(--form-btn-color);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    align-self: center;
    max-width: 200px;
}

.create-form .btn:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}
