.site {
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--site-bgnd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
}

.site-header {
    background-color: var(--menu-bgnd);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 2em;
    position: relative;
}

.site-section.hero-section {
    padding: 0;
}

.hero-section {
    background-image: url("../images/hero-bg.avif");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    width: 100%;
    height: 500px;
}

.headings {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 1em;
    margin: 0 2em;
    text-align: left;
    text-shadow: black 2px 2px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    border-radius: 0.5em;
    font-size: 0.8em;
}

.headings a {
    text-shadow: none;
    text-decoration: none;
    background-color: var(--card-bgnd);
    color: var(--card-text-color);
    padding: 0.5em 2em;
    border-radius: 0.5em;
    align-self: flex-start;
    margin-top: 1em;
    font-weight: 900;
    font-size: 1.5em;
    transition: 0.3s ease-in-out;
}

.headings a:hover {
    background-color: var(--card-bgnd-hover);
    transition: 0.3s ease-in-out;
}

.site-section {
    padding: 2em 0;
}

.site-footer {
    margin-top: auto;
    padding: 1em 0;
    text-align: center;
    background-color: var(--menu-bgnd);
    color: var(--site-bgnd);
}

.site-footer .footer-wrapper {
    display: flex;
    gap: 1em;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

.site-footer .footer-wrapper .contacts ul {
    display: flex;
    list-style: none outside;
    gap: 1em;
    align-items: center;
}

.site-footer .footer-wrapper .contacts ul a {
    color: inherit;
}

.site-footer .footer-wrapper .contacts ul i {
    font-size: 2em;
    cursor: pointer;
}

