@media (max-width: 800px) {
    .dashboard .house-cards {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .wrapper {
        flex: 0 1 80%;
    }

    .form-container {
        padding: 1em 0;
    }

    .form-container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .register-form {
        width: 100%;
    }

    .form-content .register-form {
        display: none;
    }

    .form-container #flip:checked ~ .forms .register-form {
        display: block;
    }

    .form-container #flip:checked ~ .forms .login-form {
        display: none;
    }
}


@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    .header-elements .site-title a {
        width: 50px;
        height: 50px;
    }

    .navigation ul {
        flex-direction: column;
        align-items: stretch;
        padding-left: 1em;
        gap: 2em;
        width: 100%;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 10;
        /*width: 250px;*/
        background-color: #eee;
        opacity: 90%;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.8s ease-out;
    }

    .open-sidebar-button {
        display: block;
    }

    .close-sidebar-button {
        padding: 2em 1em;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .container .wrapper {
        flex: 0 1 100%;
    }

    /*.dashboard .house-cards {*/
    /*    flex-direction: column;*/
    /*    flex-wrap: nowrap;*/
    /*}*/

    .list-clients .client-card,
    .list-house-bills .client-card,
    .list-house-bills .client-card-not-paid {
        flex-direction: column;
        align-items: stretch;
    }

    .list-clients .card-column,
    .list-house-bills .card-column {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-clients .card-column .column-data,
    .list-house-bills .card-column .column-data {
        align-self: flex-start;
    }




    .create-form {
        flex: 0 1 100%;
    }

    .client-details .client-card {
        flex: 0 1 80%;
    }

    .details-client .client-card {
        min-width: 250px;
    }

    .details-house-elements {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .details-house-elements .buttons ul {
        flex-direction: column;
        gap: 1em;
    }

    .details-house-elements .house-card .card-column {
        min-width: 250px;
    }
}