@media (width <= 600px) {
    html {
        font-size: 16px;
    }

    .header-elements .site-title a {
        width: 50px;
        height: 50px;
    }

    .navigation ul {
        flex-direction: column;
        align-items: stretch;
        padding-left: 1em;
        gap: 2em;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 10;
        width: 50vw;
        background-color: #eee;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.8s ease-out;
    }

    .open-sidebar-button {
        display: block;
    }

    .close-sidebar-button {
        padding: 2em 1em;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .dashboard .house-cards {
        flex-direction: column;
        align-items: center;
    }

    .dashboard .house-card {
        width: 80%;
    }

    .dashboard .house-card-details {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .list-clients .client-card {
        flex-direction: column;
        align-items: stretch;
    }

    .list-clients .card-column {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-clients .card-column .column-data {
        align-self: flex-start;
    }

    .create-form {
        flex: 0 1 80%;
        /*align-items: center;*/
    }

    .client-details .client-card {
        flex: 0 1 80%;
    }

    .details-client .client-card {
        min-width: 250px;
    }

    .details-house-elements {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .details-house-elements .buttons ul {
        flex-direction: column;
        gap: 1em;
    }

    .details-house-elements .house-card .card-column {
        min-width: 250px;
    }
}