@media (width <= 600px) {
    html {
        font-size: 12px;
    }

    .header-elements {
        flex-direction: column;
        gap: 1em;
    }

    .header-elements .site-title a {
        width: 50px;
        height: 50px;
    }

    .navigation ul {
        flex-direction: column;
    }

    .dashboard .house-cards {
        flex-direction: column;
        align-items: center;
    }

    .dashboard .house-card {
        width: 80%;
    }

    .dashboard .house-card-details {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;


    }

    .list-clients .client-card {
        flex-direction: column;
        align-items: stretch;
    }

    .list-clients .card-column {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-clients .card-column .column-data {
        align-self: flex-start;
    }

    .create-form {
        flex: 0 1 80%;
        /*align-items: center;*/
    }

    .client-details .client-card {
        flex: 0 1 80%;
    }

    .details-client .client-card {
        min-width: 250px;
    }

    .details-house-elements {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .details-house-elements .buttons ul {
        flex-direction: column;
        gap: 1em;
    }

    .details-house-elements .house-card .card-column {
        min-width: 250px;
    }
}