.wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    gap: 1em;
}

.wrapper .details {
    display: flex;
    gap: 1em;
    align-items: flex-end;
}

.wrapper .details .family-name {
    font-size: 1.2em;
    font-weight: 900;
}

.back-button {
    align-self: flex-end;
}

.create-house-bills .wrapper .clients-cards h1 {
    text-align: center;
}

.list-clients .wrapper {
    flex: 0 1 100%;
}

.details-house-elements {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
}

/*What we offer section*/
.what-we-offer {
    background-color: var(--form-bgnd);
}

.what-we-offer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
    align-items: center;
}

.what-we-offer-heading {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.what-we-offer-cards {
    display: flex;
    padding: 2em 3em;
    justify-content: space-between;
}

.what-we-offer-cards .card {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    background-color: var(--card-bgnd);
    border-radius: 0.5em;
    padding: 1em;
}

.what-we-offer-cards .card h5 {
    padding-bottom: 1em;
}

.what-we-offer-cards .card h5:after {
    content: "";
    display: block;
    width: 2em;
    height: 0.1em;
    background-color: var(--form-btn-color-hover);
}

/*Get started section*/
.get-started-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    gap: 1em;
    align-items: center;
    text-align: center;
}

.get-started-wrapper p {
    /*align-self: flex-start;*/
}

.get-started-wrapper a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5em;
    background-color: var(--form-btn-color);
    padding: 0.5em 2em;
    transition: 0.3s ease-in-out;
    margin-top: 1em;
}

.get-started-wrapper a:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}

/*Pricing plans section*/
.site-section.pricing-section {
    padding: 0;
    background-color: var(--form-bgnd);
}

.pricing-wrapper {
    display: flex;
    gap: 1em;
    padding: 2em 3em;
    flex: 0 1 100%;
}

.pricing-wrapper span {
    font-size: 0.5em;
}

.pricing-plans {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 2em;
}

.pricing-plans p {
    padding-top: 2em;
}

.price-card1,
.price-card2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    padding: 2em 0;
    border-radius: 0.5em;
}

.price-card1 h2,
.price-card2 h2 {
    padding: 0.5em 0;
    margin: 0;
    font-size: 3em;
    font-weight: 300;
}

.price-card1 {
    background-color: var(--card-bgnd);
    text-align: center;
}

.price-card1 a,
.price-card2 a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5em;
    background-color: var(--form-btn-color);
    padding: 0.5em 2em;
    margin-top: 2em;
    transition: 0.3s ease-in-out;
}

.price-card2 {
    background-color: var(--card-bgnd-hover);
    text-align: center;
}

.price-card1 a:hover,
.price-card2 a:hover {
    background-color: var(--form-btn-color-hover);
    transition: 0.3s ease-in-out;
}

/*About section*/
.site-section.about {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.site-section.about h3:after {
    content: "";
    display: block;
    width: 2em;
    height: 0.1em;
    background-color: var(--form-btn-color-hover);
}

.site-section.about .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
    flex: 0 1 100%;
}

.site-section.about .mission {
    background-color: var(--form-bgnd);
}

.site-section.about .choose-us-cards {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.site-section.about .card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 0 1 50%;
    background-color: var(--card-bgnd);
    border-radius: 0.5em;
    padding: 1em;
}

.site-section.about .card:last-of-type {
    justify-self: flex-end;
}

/*Reports section*/
.reports-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.search_by_month_and_year {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.search_by_month_and_year label {
    width: auto;
}

.reports-wrapper .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.reports-wrapper .search-btn,
.reports-wrapper .save-btn {
    align-self: flex-start;
    border: transparent;
    border-radius: 1.5em;
    background-color: var(--card-bgnd-hover);
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.reports-wrapper .search-btn {
    padding: 0.5em 1.5em;
}

.reports-wrapper .save-btn {
    background-color: #FF8080;
}

.reports-wrapper .search-btn:hover,
.reports-wrapper .save-btn:hover {
    background-color: var(--form-btn-color);
    transition: 0.3s ease-in-out;
}

.report-results {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.details-wrapper {
    display: flex;
    justify-content: space-between;
}

.details-for-house,
.details-for-house-bill {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.details-for-house .house-card,
.details-for-house-bill .house-card {
    display: flex;
    gap: 0.5em;
    font-size: 0.8em;
    background-color: gray;
    color: #fff;
}

.report-results table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 1em;
}

.report-results table tr th {
    text-align: center;
}

.report-results table tr {
    height: 10px;
}

.report-results table th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}

.report-results table th {
    background-color: gray;
    color: #fff;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.title-back-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
