{% extends "base.html" %}
{% load static %}

{% block main_content %}

    <script>
        function selectCurrentHouseID(houseId) {
            // AJAX request to store the selected house id
            fetch("{% url 'store_selected_house' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({house_id: houseId})
            })
                .then(response => {
                    if (response.ok) {
                        // Redirect to the house details page or perform any other action
                        window.location.href = "{% url 'details_house' pk=0 %}".replace("0", houseId);
                    } else {
                        console.error('Failed to store selected house id');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

    <section class="site-section dashboard">
        <div class="container">
            <div class="house-cards">
                {% for house in houses %}
                    <div class="house-card" onclick="selectCurrentHouseID({{ house.pk }})">
                        <div class="card-column">
                            <p class="column-name">Town</p>
                            <p class="column-data">{{ house.town }}</p>
                        </div>
                        <div class="card-column">
                            <p class="column-name">Address</p>
                            <p class="column-data">{{ house.address }}</p>
                        </div>
                        <div class="card-column">
                            <p class="column-name">Building number</p>
                            <p class="column-data">{{ house.building_number }}</p>
                        </div>
                        <div class="card-column">
                            <p class="column-name">Entrance</p>
                            <p class="column-data">{{ house.entrance }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

