{% extends "base.html" %}

{% block main_content %}
    <script>
        function redirectToObjectDetail(houseId) {
            window.location.href = "{% url "details_house" pk=0 %}".replace("0", houseId);
        }
    </script>


    <section class="site-section dashboard">
        <div class="container">
            <div class="house-cards">
                {% for house in houses %}
                    <div class="house-card" onclick="redirectToObjectDetail({{ house.pk }})">
                        <p>{{ house.town }}</p>
                        <p>{{ house.address }}</p>
                        <p>{{ house.building_number }}</p>
                        <p>{{ house.entrance }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

