<footer class="site-section site-footer">
    <div class="container">
        <div class="footer-wrapper">
            <section class="copyright">
                <p>&copy; 2024 House Manager. All Rights Reserved.</p>
            </section>
            <section class="contacts">
                <ul>
                    <li><a href="https://github.com/pavlovsvpavel"><i class="fa-brands fa-square-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/pavel-sv-pavlov"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</footer>