{% extends "base.html" %}

{% block main_content %}

    <section class="site-section hero-section">
        <div class="container">
            <div class="hero-banner">
                <div class="headings">
                    <h1>Managing House Expenses</h1>
                    <h1>Your All-in-One Solution</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section pricing-section">
        <div class="container">
            <div class="pricing-wrapper">
                <div class="pricing-plans">
                    <h3>Pricing Plans</h3>
                    <p>Choose your plan and start using our app.</p>
                </div>
                <div class="price-card1">
                    <h4>Free</h4>
                    <h3>0 BGN<span>/month</span></h3>
                    <p>1 House</p>
                    <p>3 months period</p>
                    <div><a href="{% url "register_user" %}">Register</a></div>
                </div>
                <div class="price-card2">
                    <h4>Paid</h4>
                    <h3>33 BGN<span>/month</span></h3>
                    <p>Unlimited houses</p>
                    <p>12 months period</p>
                    <div><a href="{% url "register_user" %}">Register</a></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}