{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
    <script src="{% static "scripts/jquery.js" %}" defer></script>
    <script src="{% static 'scripts/layoutControls.js' %}" defer></script>

    <section class="site-section reports">
        <div class="container">
            <div class="reports-wrapper">
                <h3 class="section-title">{% trans 'Other bills - reports' %}</h3>
                {% include "partials/reports/reports_other_bills_search_fields.html" %}
                <div class="report-results">
                    <div class="details-wrapper">
                        {% include "partials/reports/reports_house_details.html" %}
                        <div class="details-for-house-bill">
                            {% if single_bills %}
                                {% include "partials/reports/filtered_other_bill_type_single.html" %}
                            {% elif clients_bills %}
                                {% include "partials/reports/filtered_other_bill_type_multi.html" %}
                            {% endif %}
                        </div>
                    </div>
                    <table>
                        {% if clients_bills %}
                            {% include "partials/reports/table_headers_other_bills.html" %}
                        {% elif single_bills %}
                            <tr>
                                <th>{% trans "Full name" %}</th>
                                <th>{% trans "Comment" %}</th>
                                <th>{% trans "Total BGN" %}</th>
                                <th>{% trans "Signature" %}</th>
                            </tr>
                        {% endif %}
                        {% for bill in single_bills %}
                            <tr>
                                <td></td>
                                <td>{{ bill.comment }}</td>
                                <td>{{ bill.total_amount }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        {% for client_bill in clients_bills|dictsort:"client.apartment" %}
                            {% include "partials/reports/reports_clients_data_other_bills.html" %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}