{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
    <section class="site-section reports">
        <div class="container">
            <div class="reports-wrapper">
                <h3 class="section-title">{% trans 'Bills reports' %}</h3>
                {% include "partials/reports/reports_bills_search_fields.html" %}
                <div class="report-results">
                    <div class="details-wrapper">
                        {% include "partials/reports/reports_house_details.html" %}
                        <div class="details-for-house-bill">
                            {% if bill %}
                                <div class="house-card">
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Month" %}</p>
                                        <p class="column-data">{{ bill.get_month_name }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Year" %}</p>
                                        <p class="column-data">{{ bill.year }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Amount for collection" %}</p>
                                        <p class="column-data">{{ amount_for_collection }} {% trans "BGN" %}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Current Balance" %}</p>
                                        <p class="column-data">{{ current_house.money_balance }} {% trans "BGN" %}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <table>
                        {% if clients_bills %}
                            {% include "partials/reports/table_headers.html" %}
                        {% endif %}
                        {% for client_bill in clients_bills|dictsort:"client.apartment" %}
                            {% include "partials/reports/reports_clients_data.html" %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}