{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
    <section class="site-section reports">
        <div class="container">
            <div class="reports-wrapper">
                <form class="search_by_month_and_year" method="get">
                    <label for="year">
                        <select name="year" placeholder="Year" id="year">
                            <option value="" selected disabled>{% trans "Year" %}</option>
                            {% for choice in YearChoices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="month">
                        <select name="month" id="month">
                            <option value="" selected disabled>{% trans "Month" %}</option>
                            {% for choice in MonthChoices.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button class="search-btn" type="submit">{% trans "Search" %}</button>
                </form>

                <div class="buttons">
                    <button class="save-btn" onclick="saveAsPDF()">{% trans "Save as PDF" %}</button>
                </div>
                <div class="report-results">
                    <div class="details-wrapper">
                        <div class="details-for-house">
                            <div class="house-card">
                                <div class="card-column">
                                    <p class="column-name">{% trans "Town" %}</p>
                                    <p class="column-data">{{ current_house.town }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">{% trans "Address" %}</p>
                                    <p class="column-data">{{ current_house.address }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">{% trans "Building number" %}</p>
                                    <p class="column-data">{{ current_house.building_number }}</p>
                                </div>
                                <div class="card-column">
                                    <p class="column-name">{% trans "Entrance" %}</p>
                                    <p class="column-data">{{ current_house.entrance }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="details-for-house-bill">
                            {% if bill %}
                                <div class="house-card">
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Month" %}</p>
                                        <p class="column-data">{{ bill.get_month_name }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Year" %}</p>
                                        <p class="column-data">{{ bill.year }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Total" %}</p>
                                        <p class="column-data">{{ bill.total_amount }} лв.</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">{% trans "Current Balance" %}</p>
                                        <p class="column-data">{{ current_house.money_balance }} лв.</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>{% trans "Family Name" %}</th>
                            <th>{% trans "Apartment" %}</th>
                            <th>{% trans "Total BGN" %}</th>
                            <th>{% trans "Signature" %}</th>
                        </tr>
                        {% for client_bill in clients_bills %}
                            <tr>
                                <td>{{ client_bill.client.family_name }}</td>
                                <td>{{ client_bill.client.apartment }}</td>
                                <td>{{ client_bill.total_amount }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}