{% extends "base.html" %}

{% block main_content %}
    <section class="site-section edit-house">
            <div class="container">
                <form class="create-form" action="{% url "edit_house" pk=object.pk %}" method="post">
                    <h3 class="create-form-heading">Edit House</h3>
                    {{ form }}
                    {% csrf_token %}
                    <input class="btn" type="submit" value="Edit House">
                </form>
            </div>
        </section>

{% endblock %}