{% extends "base.html" %}

{% block main_content %}
    <script>
        function redirectToClientDetails(clientId) {
            window.location.href = "{% url "details_client" pk=0 %}".replace("0", clientId);
        }
    </script>

    <section class="site-section list-clients-house">
        <section class="site-section list-clients">
            <div class="container">
                <div class="wrapper">
                    <div class="clients-cards">
                        {% if clients %}
                            {% for client in clients %}
                                <div class="client-card" onclick="redirectToClientDetails({{ client.pk }})">
                                    <div class="card-column">
                                        <p class="column-name">Family Name</p>
                                        <p class="column-data">{{ client.family_name }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">Floor</p>
                                        <p class="column-data">{{ client.floor }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">Apartment</p>
                                        <p class="column-data">{{ client.apartment }}</p>
                                    </div>
                                    <div class="card-column">
                                        <p class="column-name">People</p>
                                        <p class="column-data">{{ client.number_of_people }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h1>No clients</h1>
                        {% endif %}
                    </div>
                    <div class="back-button">
                        <a href="{% url "details_house" pk=house.pk %}"><i class="fa-solid fa-arrow-right"></i>Back to house</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}