{% extends "base.html" %}

{% block main_content %}
    <script>
        function redirectToClientDetails(clientId) {
            window.location.href = "{% url "details_client" pk=0 %}".replace("0", clientId);
        }
    </script>
    
    <section class="site-section list-clients-house">
        <section class="site-section list-clients">
            <div class="container">
                
                <div class="clients-cards">
                    <a class="create-client" href="{% url "create_client" %}">Create Client</a>
                    <a class="create-house-bill" href="{% url "create_house_bills" %}">Create Bill</a>
                    <a class="list-house-bills" href="{% url "list_house_bills" pk=object.pk%}">House Bills</a>
                    {% for client in clients %}
                        <div class="client-card" onclick="redirectToClientDetails({{ client.pk }})">
                            <div class="card-column">
                                <p class="column-name">Family Name</p>
                                <p class="column-data">{{ client.family_name }}</p>
                            </div>
                            <div class="card-column">
                                <p class="column-name">Floor</p>
                                <p class="column-data">{{ client.floor }}</p>
                            </div>
                            <div class="card-column">
                                <p class="column-name">Apartment</p>
                                <p class="column-data">{{ client.apartment }}</p>
                            </div>
                            <div class="card-column">
                                <p class="column-name">People</p>
                                <p class="column-data">{{ client.number_of_people }}</p>
                            </div>
{#                            <div class="card-column">#}
{#                                <p class="column-name">Using lift</p>#}
{#                                <p class="column-data">{{ client.is_using_lift|yesno:"Yes,No" }}</p>#}
{#                            </div>#}
{#                            <div class="card-column">#}
{#                                <p class="column-name">Occupied</p>#}
{#                                <p class="column-data">{{ client.is_occupied|yesno:"Yes,No" }}</p>#}
{#                            </div>#}
{#                            <div class="card-column">#}
{#                                <p class="column-name">Fixed fee</p>#}
{#                                <p class="column-data">{{ client.fixed_fee|yesno:"Yes,No" }}</p>#}
{#                            </div>#}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>

{% endblock %}