{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Manager</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
    <link href="{% static "images/favicon.ico" %}" rel="icon" type="image/x-icon">
</head>
<body>
    <div class="site">
        <header class="site-section site-header">
            
            <div class="container">
                <div class="header-elements">
                    <div class="site-title">
                        <a href="{% url "index" %}">House Manager</a>
                    </div>
                    <nav class="navigation">
                        <ul>
                            <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                            <li><a href="{% url "create_house" %}">Create House</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        {% block main_content %}
        
        {% endblock %}

        <footer class="site-section site-footer">
            <div class="container">
                <p>&copy; 2024 Pavel Pavlov. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>