{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static "images/site_logo.avif" %}"/>
    <meta name="description" content="Your ultimate solution for efficient expenses management tailored specifically for building cashiers.">
    <title>House Manager</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
    <link href="{% static "images/favicon.ico" %}" rel="icon" type="image/x-icon">
    <script src={% static "scripts/redirects.js" %}></script>
    <script src={% static "scripts/profileMenuReset.js" %}></script>
</head>
<body>
    <div class="site">
        {% include "common/header.html" %}
        <main class="site-main">
            {% block main_content %}
    
            {% endblock %}
        </main>
        {% include "common/footer.html" %}
        {% include "common/cookies-banner.html" %}
    </div>
</body>
</html>