{% extends "base.html" %}
{% load i18n %}

{% block main_content %}

    <section class="site-section create-client">
        <div class="container">
            <form class="create-form" action="{% url "create_client" %}" method="post">
                <h3 class="create-form-heading">{% trans "Create Client" %}</h3>
                {{ form }}
                {% csrf_token %}
                <input class="btn" type="submit" value="{% trans "Save" %}">
            </form>
        </div>
    </section>

{% endblock %}