{% extends "base.html" %}

{% block main_content %}
    
    <section class="site-section create-client">
        <div class="container">
            <form class="create-form" action="{% url "create_client" pk=house.pk %}" method="post">
                <h3 class="create-form-heading">Create Client</h3>
                {{ form }}
                {% csrf_token %}
                <input class="btn" type="submit" value="Create Client">
            </form>
        </div>
    </section>

{% endblock %}